body{
    background-image: url("../images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
button.html-c{
  background-color: #e95420;
  border: none;
  color: white;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  text-decoration: none;
  display: block;
  font-size: 30px;
  cursor: pointer;
  outline: none;
  font-family: noto sans kr regular;
}

button.html-c:hover{
	height: 250px;
	width: 250px;
}

button.css-c{
  background-color: #e95420;
  border: none;
  color: white;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  text-decoration: none;
  display: block;
  font-size: 30px;
  cursor: pointer;
  outline: none;
  font-family: noto sans kr regular;
}

button.css-c:hover{
	height: 250px;
	width: 250px;
}

button.js-c{
  background-color: #e95420;
  border: none;
  color: white;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  text-decoration: none;
  display: block;
  font-size: 30px;
  cursor: pointer;
  outline: none;
  font-family: noto sans kr regular;
}

button.js-c:hover{
	height: 250px;
	width: 250px;
}

table.circ-con{
	margin:auto;
	margin-top: 190px;
	margin-left: 650px;
	left: 50%;
	transform: translateX(-50%);
}

body.home{
	background-color: white;
}


td.circ{
	padding-right: 90px;
}
.picture{
	width: 100%
}
.search{
  position: relative;
  width: 50%;
  float:left;
  left: 17%;
  
}
.middle1{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}