<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Cuisna</title>
		<title>Cuisina</title>
		<link rel="icon" href="images/utensils.ico">
        <link rel="stylesheet" href="bootstrap.min.css">
        <link rel="stylesheet" href="../FilterByCategory/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:700i,800" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>

    </head>
	   <script src="category.js"></script>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="../index.html">Cuisina</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
           <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="../FilterByCategory/filtercategory.html">Categories<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../dishes/ListOfDishes.html">Dishes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../Countries/countries.html">Countries</a>
              </li>
                 <li class="nav-item">
                <a class="nav-link" href="../search-recipe/index.html">Search</a>
              </li>
            </ul>
          </div>
        </nav>
        
            
          <body ng-app="app" ng-controller="ctrl">
            <div class= "Caption">
              <h1>Category</h1>
            </div>
              <section class="choices">
                <div class="categories">
                  <button ng-repeat="menu in menus">
                      <a ng-repeat="(key,val) in menu" href="" ng-click="categoryList(key)">{{key}}</a> 
                    </button>
                </div>
              </section>
              <section class="category" ng-repeat="menu in menus">
                <div ng-repeat="(key, items) in menu">
                  <ul>
                    
                    <li ng-repeat="item in items" ng-show="category == key">
                      <div id="whole">
                          <br>
                      <div id="Image">
                        <img src="{{item.strMealThumb}}">
                       </div>
                      <div id="MealName">
                        <h3>{{item.strMeal}}</h3>
                          
                      </div>
                        </div>
                    </li>
                  </ul>
                </div>
              </section>
            </body>
    

        <footer>
            <p id="ftr">Team Makder | All Rights Reserved ©️ 2019 </p>
        </footer>
    </body>

</html>