body {
	font-family: "Raleway"
}

body, html {
	height: 100%;
	line-height: 1.8;
}

h3 {
	text-align: center;
	font-size: 30px;
  	background: -webkit-linear-gradient(grey, black);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.TOP {
	text-align: center;
}

.CONTAINER {
	background-color: lightgrey;
}

.CARD {
	background-color: orange;
}

.CARD-CONTAINER {
	text-align: center;
}

.FOOTER {
	background-color: black;
	color: white;
	text-align: center;
}